:root {
  --color-primary: #151515;
  --color-accent: #568cef;
  --color: rgb(255, 255, 255);
  --color-background: #222222;

  --color-active: #274171;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    background-color: var(--color-primary);
}

body {
  color: var(--color);
  background-color: var(--color-background);
  height: 100dvh;
  height: calc(100vh - 1px);
  width: 100%;
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto;

  /* border: 1px solid red; */
}

/* ==========================================================================
 Standard Button and SVG
========================================================================== */

 .btn {
    width: 48px;
    height: 48px;
    padding: 8px;

    color: var(--color-primary);
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    transition: background-color .3s ease-in;
  }


  
  .btn:focus{
    border: 2px solid var(--color-accent)
  }

   .btn:active {
    background-color: var(--color-active);
    transition: backgroun-color 0.3s ease-out;
  }


  
svg {
  fill: var(--color-accent);
  /* background-color: none; */
}

/* ==========================================================================
 Nav Bar
========================================================================== */

.navbar {
  height: max(7%, 60px);
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-between;
  /* border: 5px solid blue; */
}

/** Brand Info **/

.brand-info {
  height: 100%;
  display: flex;
  /* border: 1px solid var(--color-accent); */
}

.brand-info img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/** Nav Buttons **/

.nav-buttons .btn {
}

/* ==========================================================================
 Main
========================================================================== */

/*!------------ CHANGE 80% to calculate height of screen */

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  margin-top: .5rem;

}

/* ==========================================================================
 Top Bar
========================================================================== */

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--color-primary);
  height: 8%;
  padding: 0.5rem;
}

.plus-icon {
  fill: red;
  color: red;
}

.add-workout {
  fill: red;
  color: red;
}

/* ==========================================================================
 Content Area
========================================================================== */

h1 {
  text-align: center;
}

article {
  text-align: center;
}

/* ==========================================================================
 Bottom Bar
========================================================================== */

.bottom-bar {
  /* border: 1px solid green; */
  height: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.bottom-bar .btn {
  width: 60%;
  color: var(--color-accent);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  /* touch-action: manipulation; */
  -webkit-tap-highlight-color: transparent;
}

.bottom-bar svg {
  max-height: 100%;
}
